@charset "utf-8";

/************************************
              Colors
************************************/

:root {
  --black: #000000;
  --base00: #0d0b0a;
  --base01: #151312;
  --base02: #1f1c1b;
  --base03: #282625;
  --base04: #8b8887;
  --base05: #c0bdbb;
  --base06: #d0cdcb;
  --base07: #f1eeec;
  --base08: #b3766d;
  --base09: #a58251;
  --base0A: #839059;
  --base0B: #59987c;
  --base0C: #4896a2;
  --base0D: #678bb7;
  --base0E: #8f7eb2;
  --base0F: #ab7594;
  --white: #ffffff;
}

:root {
  --default-background: var(--base00);
  --lighter-background: var(--base01);
  --selection: var(--base02);
  --comment: var(--base03);
  --line-highlight: var(--base03);
  --dark-foreground: var(--base04);
  --default-foreground: var(--base05);
  --light-foreground: var(--base06);
  --lighter-foreground: var(--base07);

  --primary: var(--base0B);
  --secondary: var(--base0D);
}

/************************************
               Fonts
************************************/

@font-face {
  font-family: "CMU Sans Serif";
  src:
    url("computer-modern/cmunss.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Serif";
  src:
    url("computer-modern/cmunrm.ttf") format("truetype");
}

@font-face {
  font-family: "CMU Typewriter";
  src:
    url("computer-modern/cmuntt.ttf") format("truetype");
}

/************************************
           Actual Styling
************************************/

body {
  background-color: var(--black);
  font-family: 'CMU Sans Serif', sans-serif;
  font-size: 14pt;
}
main {
  background-color: var(--default-background);
  color: var(--default-foreground);
  padding: 1em;
  margin: 1.5em;
  border: 3px var(--lighter-background) solid;
  border-radius: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "CMU Serif", serif;
}
code {
  font-family: "CMU Typewriter", monospace;
}
a:link {
  color: var(--primary);
}
a:visited {
  color: var(--secondary);
